body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    padding: 0;
}

.container{
    border: 1px solid red;
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 10px solid #000;
  
}
.container > .control{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 1px solid red;
}

.container .control > .btn{
width: 100px;
padding: 15px;
cursor: pointer;
background-color: hsl(0, 0%, 10%);
color: hsl(50, 50%, 100%);;

border-radius: 5px;
font-size: 18px;
border: none;

}

.container .control > .btn:hover{
    background-color: rgb(253, 7, 7);
    color: hsl(50, 50%, 100%);
}

.container > .count{
    font-size: 50px;
    font-weight: b;
}

@media (max-width: 480px) {
    .container{
        width:80%
    }
    
}

h1{
    font-size: 30px;
}

container > .control{
    padding: 10px;
    width: 50%;
}

